backend:
  name: git-gateway
  branch: main

media_folder: "admin/uploads"
public_folder: "/admin/uploads"

site_url: https://techwithtips.in

collections:
  - name: "posts"
    label: "Blog Posts"
    folder: "posts"
    create: true
    slug: "{{slug}}"
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Publish Date", name: "date", widget: "datetime" }
      - { label: "Description", name: "description", widget: "string" }
      - { label: "Body", name: "body", widget: "markdown" }
      - { label: "Image", name: "thumbnail", widget: "image" }
